#list-container,
#video-container{
	width:50%;
	float: left;
}

/* left elements*/
#list-container .add-item{
	widows: 100;
	text-align: right;
}

ul.list-items{
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
}

li.item{
	margin-top:2px;
}

li.item .item-link{
	text-decoration: none;
	background: #cdcdcd;
	display: block;
	padding: 10px;
}

li.item .item-link::after{
	content:"▲";
	display:block;
	float: right;
}


li.item .item-link.down::after{
	content:"▼";
}


li.item .controls{
	padding: 10px;
	background: #dedede;
}

li.item .controls.hide{
	display: none;
}


/* items links footer */
li.item .controls .control-options > div:first-child{
	float:left;
}

li.item .controls .control-options > div:last-child{
	float:right;
}

li.item .controls .control-options::after{
	content:"";
	display: block;
	clear:both;
}


/* right elements */
#video-container{
	background: lightyellow;
}

