#list-container,
#video-container{
	width:50%;
	min-height: 200px;
	float: left;
}

#video-container{
	background: lightyellow;
}

.add-item{
	widows: 100;
	text-align: right;
}

.list-items,
.item,
.item-link{
	display: block;
	width: 100%;
}

.item-link{
	padding: 10px;
}

.item{
	background: #ddd;
}

.item .controls{
	padding: 10px;
	background: #ccc;
}


.item .control-name{
	display: block;
	width:100%;
}

.control-options > div:first-child{
	float:left;
}

.control-options > div:last-child{
	float:right;
}

.control-options::after{
	content:"";
	display: block;
	clear:both;
}
